<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CompanyManagement Software Inc.</title>
</head>
<body style="text-align:center;">
	<div style="text-align: center;">
		<h1>Welcome to our cool Company Management Portal</h1>

		<p th:text="${welcome}">Willkommen Text!</p>

		<p>
			Heute ist: <span th:text="${today}">13 February 2011</span>
		</p>

		<p>
			Neue Firma anlegen: <a th:href="@{/companies/new}">Hinzuf&uuml;gen</a>
		</p>

		<table align="center">
			<thead>
				<tr>
					<th>Name</th>
					<th>Ort</th>
					<th>Telefon</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${companies.empty}">
					<td colspan="6">Keine Daten gefunden</td>
				</tr>
				<tr th:each="company : ${companies}">
					<td><span th:text="${company.name}"> Name </span></td>
					<td><span th:text="${company.location}"> Ort </span></td>
					<td><span th:text="${company.phone}"> Telefon </span></td>
					<td><span><a th:href="@{/companies/{id}(id = ${company.id})}">Details</a></span></td>
					<td><span><a th:href="@{/companies/{id}(id = ${company.id}, action=delete)}">Drop</a></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>